<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.textfactory">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/main_icon"
        android:label="@string/TextFactory"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TextFactory">
        <activity
            android:name=".MyFontsActivity"
            android:exported="false" />
        <activity
            android:name=".WebToTextActivity"
            android:exported="false" />
        <activity
            android:name=".CreateNoteActivity"
            android:exported="false" />
        <activity
            android:name=".NewDocActivity"
            android:exported="false" />
        <activity
            android:name=".ShareActivity"
            android:exported="false" />
        <activity
            android:name=".NewFontActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>